.container{
    background-color: rgb(245, 241, 241);
    padding: 24px;
    text-align: center;
    width: 400px;
}

.H1{
    font-size: 32px;
    color:black;
    text-align: center;
    background-color: rgb(195, 103, 103);
    padding: 10px;
    border: 1px solid rgb(195, 103, 103);
    width: 300;
}