*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: rgb(245, 241, 241);
    padding: 24px;
    text-align: center;
    width: 400px;
    justify-content: center;
    display:felx;
    flex-direction: column;
    align-items: center;
    border:1px solid #ccc;
    margin: 40px auto;
}

.H1{
    font-size: 32px;
    color:black;
    text-align: center;
    background-color: rgb(195, 103, 103);
    padding: 10px;
    border: 1px solid rgb(195, 103, 103);
    width: 100%;
}
.info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 20px;
}
.image{
    width: 100%;
    height: 250px;
    border: 2px;
    overflow: hidden;
    display: flex;
}
